<div class="rounds">
	{{#each rounds}}
	<div><div class="auto-center">
		<div class="round">Round {{round}}/{{../rounds.length}}</div>
		<span class="help">Which option is correct?</span>
		<div class="word-container">
			{{#if_in ../variation compare="1,20,21,22,23"}}
			<span class="word">{{word}}</span>
			{{/if_in}}
			{{#if_eq ../variation compare=2}}
			<img class="image" src="{{word}}">
			{{/if_eq}}
		</div>
		<ul class="choices">
			{{#each choices}}
			<li class="note{{#if correct}} correct{{/if}}">
				<i class="{{#if correct}}icon-ok{{else}}icon-remove{{/if}}"></i>
				{{word}}
			</li>
			{{/each}}
		</ul>
	</div></div>
	{{/each}}
</div>