<div class="rounds">
	{{#each rounds}}
	<div><div class="auto-center">
		<div class="round">Round {{round}}/{{../rounds.length}}</div>
		<span class="help">
			{{#if_eq ../variation compare=1}}
			Escribe la traducción de la palabra.
			{{/if_eq}}
			{{#if_eq ../variation compare=2}}
			Escribe la palabra que representa esta imagen.
			{{/if_eq}}
			{{#if_eq ../variation compare=20}}
			Escribe el género contrario.
			{{/if_eq}}
			{{#if_eq ../variation compare=21}}
			Escribe el sinónimo correcto.
			{{/if_eq}}
			{{#if_eq ../variation compare=22}}
			Escribe el antónimo correcto.
			{{/if_eq}}
		</span>
		{{#if_in ../variation compare="1,20,21,22"}}
		<span class="word">{{word}}</span>
		{{/if_in}}
		{{#if_eq ../variation compare=2}}
		<img class="image" src="{{word}}">
		{{/if_eq}}
		<div class="type">
			{{#each match}}
			<span data-expect="{{this}}"></span>
			{{/each}}
		</div>
		<div class="letters">
			{{#each match_shuffled}}
			<a class="letter">
				{{this}}
			</a>
			{{/each}}
		</div>
	</div></div>
	{{/each}}
</div>