<div class="rounds">
	{{#each rounds}}
	<div><div class="auto-center">
		<div class="round">Round {{round}}/{{../rounds.length}}</div>
		<span class="help">
			{{#if_eq ../variation compare=1}}
			Empareja cada palabra con su traducción.
			{{/if_eq}}
			{{#if_eq ../variation compare=2}}
			Empareja cada palabra con su representación.
			{{/if_eq}}
			{{#if_eq ../variation compare=20}}
			Empareja cada palabra con su otro género.
			{{/if_eq}}
			{{#if_eq ../variation compare=21}}
			Empareja sinónimos.
			{{/if_eq}}
			{{#if_eq ../variation compare=22}}
			Empareja antónimos.
			{{/if_eq}}
		</span>
		<ul class="cards">
			{{#each choices}}
			<li class="card" data-word="{{id}}">
				<span class="front"></span>
				{{#if word}}
					<span class="back">{{word}}</span>
				{{/if}}
				{{#if match}}
					{{#if_eq ../../variation compare=2}}
            			<img class="back" src="{{match}}"/>
            		{{else}}
            			<span class="back">{{match}}</span>
            		{{/if_eq}}
				{{/if}}
			</li>
			{{/each}}
		</ul>
	</div></div>
	{{/each}}
</div>