<div class="rounds">
	{{#each rounds}}
	<div><div class="auto-center">
		<div class="round">Round {{round}}/{{../rounds.length}}</div>
		<span class="help">
			{{#if_eq ../variation compare=1}}
			Elige la traducción correcta.
			{{/if_eq}}
			{{#if_eq ../variation compare=2}}
			¿Qué palabra corresponde a la imagen?
			{{/if_eq}}
			{{#if_eq ../variation compare=21}}
			Elige el sinónimo correcto.
			{{/if_eq}}
			{{#if_eq ../variation compare=22}}
			Elige el antónimo correcto.
			{{/if_eq}}
			{{#if_eq ../variation compare=26}}
			Elige la palabra que corresponda a la traducción.
			{{/if_eq}}
		</span>
		<div class="word-container">
			{{#if_in ../variation compare="1,21,22,26"}}
			<span class="word">{{word}}</span>
			{{/if_in}}
			{{#if_eq ../variation compare=2}}
			<img class="image" src="{{word}}">
			{{/if_eq}}
		</div>
		<ul class="choices">
			{{#each choices}}
			<li class="note{{#if correct}} correct{{/if}}">
				<i class="{{#if correct}}icon-ok{{else}}icon-remove{{/if}}"></i>
				{{word}}
			</li>
			{{/each}}
		</ul>
	</div></div>
	{{/each}}
</div>