<div class="rounds">
	{{#each rounds}}
	<div><div class="auto-center">
		<div class="round">Round {{round}}/{{../rounds.length}}</div>
		<span class="help">
			{{#if_eq ../variation compare=12}}
			Esta palabra, ¿se refiere a una persona?
			{{/if_eq}}
			{{#if_eq ../variation compare=13}}
			############concrete
			{{/if_eq}}
			{{#if_eq ../variation compare=14}}
			¿Puedes tocarlo?
			{{/if_eq}}
			{{#if_eq ../variation compare=15}}
			¿Puedes verlo?
			{{/if_eq}}
			{{#if_eq ../variation compare=16}}
			¿Puedes comprarlo en una tienda?
			{{/if_eq}}
			{{#if_eq ../variation compare=17}}
			Esta palabra ¿se refiere a un ser vivo?
			{{/if_eq}}
			{{#if_eq ../variation compare=18}}
			############weight
			{{/if_eq}}
			{{#if_eq ../variation compare=23}}
			¿Existía hace 500 años?
			{{/if_eq}}
			{{#if_eq ../variation compare=28}}
			Esta palabra, ¿es de género femenino?
			{{/if_eq}}
			{{#if_eq ../variation compare=29}}
			Esta palabra ¿es un verbo?
			{{/if_eq}}
			{{#if_eq ../variation compare=30}}
			Esta palabra, ¿es del género masculino?
			{{/if_eq}}
			{{#if_eq ../variation compare=31}}
			Esta palabra ¿es un sustantivo?
			{{/if_eq}}
		</span>
		<div class="word-container">
			<span class="word">{{word}}</span>
		</div>
		<ul class="choices">
			<li class="note{{#if correct}} correct{{/if}}">
				<i class="{{#if correct}}icon-ok{{else}}icon-remove{{/if}}"></i>
				Yes
			</li>
			<li class="note{{#unless correct}} correct{{/unless}}">
				<i class="{{#unless correct}}icon-ok{{else}}icon-remove{{/unless}}"></i>
				No
			</li>
		</ul>
	</div></div>
	{{/each}}
</div>